# Node.js
node_modules/

# Vite
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# Misc
*.swp
*.swo

# Build
/build

# Coverage
coverage/

# Others
*.log
